{% extends "base.html" %}
{% block title %}视频上传{% endblock %}
{% block search %}
<div class="search-area">
    <form action="{{url_for('home')}}" method="post">
        <input type="search" name="input" id="input" placeholder="Search">
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="regular-page-content-wrapper section-padding-80">
                    <form action="{{url_for('home')}}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file"><h5>上传视频：</h5></label>
                            <input type="file" id="file" name="file">
                        </div>
                        <div class="form-group">
                            <label for="desc"><h5>输入描述：</h5></label>
                            <input type="text" class="form-control" id="desc" name="desc" placeholder="输入视频内容描述">
                            <p>输入合适的描述，能够找到更完美的配乐哦~</p>
                        </div>
                        <button type="submit" class="btn btn-default">提交</button>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
